:root {
    --rp-c-brand: #0dbc95;
    --rp-c-brand-dark: #089173;
    --rp-c-brand-light: #0ccba1;
    --main-light-color: #f4f4f4;
    --secondary-light-color: #e3e3e3;
    --main-dark-color: #0f0b18;
    --rp-c-bg: light-dark(var(--main-light-color), var(--main-dark-color));
    --rp-home-feature-bg: light-dark(
        var(--secondary-light-color),
        var(--main-dark-color)
    );
    --rp-home-hero-name-background: -webkit-linear-gradient(
        120deg,
        var(--rp-c-brand-light) 30%,
        var(--rp-c-brand-dark),
        var(--rp-c-brand)
    );
    color-scheme: dark light;
}

.rspress-logo {
    height: 4.5rem;
    margin-left: -20px;
}

.text-3xl {
    font-size: 2.5rem;
}

/*
body {
    background-image: url("https://raw.githubusercontent.com/gigapipehq/homepage/refs/heads/main/docs/public/header-bg-optimised-scaled-4.jpg");
    background-blend-mode: lighten;
    background-repeat: no-repeat;
 
}
*/

img[alt*="hepic.cloud"] {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

img[alt*="Founders"] {
    -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.6));
}

img[alt*="prompt"] {
    display: inline;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(5px, 15px); }
    100%   { transform: translate(-0px, -0px); }    
}

.text-subtitle {
    font-size: 400%;
    font-weight: 700;
}

.text-subtitle:first-letter {
    color: #1dc27c;
}

.rspress-home-hero-tagline {
    font-size: 170%;
    font-weight: 700;
}

.rspress-home-feature-icon {
    margin-bottom: 25px;
}

img {
    border-radius: 15px;
}

.medium-zoom-image {
    pointer-events: none;
}

.md\:pt-16 {
        padding-top: 1rem;
}
